<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty API</title>
    <style>
        /* Set background color */
        body {
            background-color: lightblue;
        }

        /* Center the title */
        h1 {
            text-align: center;
        }

        /* Set the columns layout */
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding: 0;
        }
        li {
            flex: 0 0 calc(33.33% - 10px);
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
        /* Define the dot styles */
        .status-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .status-dot--alive {
            background-color: green;
        }
        .status-dot--dead {
            background-color: red;
        }
        .status-dot--unknown {
            background-color: grey;
        }

        /* Set the columns layout for small screens */
        @media (max-width: 767px) {
            li {
                flex: 0 0 calc(50% - 10px);
            }
        }
        /* Set the columns layout for extra-small screens */
        @media (max-width: 479px) {
            li {
                flex: 0 0 100%;
            }
        }

        /* Style the next and back buttons */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ddd;
            color: #333;
            text-decoration: none;
            border-radius: 5px;
        }
        .btn:hover {
            background-color: #aaa;
        }
    </style>
</head>
<body>
<h1>Rick and Morty Characters</h1>
<ul>
    {% for character in characters|batch(9) %}
        {% for item in character %}
            <li>
                <img src="{{ item.getPictureUrl() }}" alt="{{ item.getName() }}">
                <h2>{{ item.getName() }}</h2>
                <p>
                    <span class="status-dot status-dot--{{ item.getStatus()|lower }}"></span>
                    {{ item.getStatus() }}
                </p>
                <p>Species: {{ item.getSpecies() }}</p>
                <p>Location: {{ item.getLocation() }}</p>
                <p>First seen in: {{ item.getFirstSceen() }}</p>
                <p>  {{ item.getPictureUrl() }}</p>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
<!-- Add the next and back buttons -->
{% if characters.has_previous %}
    <a href="?page={{ characters.previous_page_number }}" class="btn">Back</a>
{% endif %}
{% if characters.has_next %}
    <a href="?page={{ characters.next_page_number }}" class="btn">Next</a>
{% endif %}
</body>
</html>